@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-VariableFont_wght.woff2") format("woff2-variations");
  /*font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;*/
}

/*Обнуление*/

/**
  Нормализация блочной модели
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

/* Упрощаем работу с изображениями  */
img {
  display: block;
  max-width: 100%;
}

dd[class] {
  margin-inline-start: 0;
}

/* НОРМАЛИЗАЦИЯ ИЗ ВИДЕО */

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
  */

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}





  */

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    
  line-height: 1.5;
  */
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Переменные*/

:root {
  --white: #fff;
  --black: #344054;
  --grey: #85888e;
  --primary: linear-gradient(180deg, #941b81 0%, #801f82 45.83%, #672383 100%);
  --primary-light: #b24fa3;
  --primary-alpha: rgba(121, 32, 130, 0.7);
  --secondary: linear-gradient(
    180deg,
    #e5007b 0%,
    #de0568 48.96%,
    #d70a55 100%
  );
  --secondary-light: #ef77b2;
  --section-margin: 160px;
  --content-width: 1440px;
  --slide-width: clamp(200px, 15vw, 300px);
  --slide-height: calc(var(--slide-width) / (2 / 3));
  --active-slide-width: clamp(250px, 18vw, 350px);
  --active-slide-height: calc(var(--active-slide-width) / (2 / 3));
}
/*Загрузка вариативных шрифтов 

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide
https://htmlacademy.ru/blog/html/fonts-loading?ysclid=lpwd5pxucm72828863

*/

/* Утилитарные классы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Основные стили */

body {
  font-family: "Nunito", "Arial", sans-serif;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    minmax(min-content, var(--content-width))
    minmax(16px, 1fr);
  grid-auto-rows: min-content;
}

/* todo актуализировать */
[class*="_color_primary"] {
  background: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-size: clamp(1.5rem, 0.5rem + 2.5vw, 2.25rem);
  font-weight: 700;
  line-height: 111.111%;
  margin-block: 0 48px;
  text-align: center;
}

.page-header,
.page-footer {
  max-width: var(--content-width);
  height: 100px;
  grid-column-start: 2;
}

.page-main {
  grid-column: span 3;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    repeat(2, minmax(min-content, calc(var(--content-width) / 2)))
    minmax(16px, 1fr);
  /*var(--content-width) / 2
  repeat(2, minmax(min-content, 720px))*/
  justify-items: start;
}

/* HEADER */
/*
.page-header,
.page-main,
.page-footer {
  max-width: 1440px;
  margin-inline: auto;
}*/

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-light);
  margin-block-end: 24px;
}

.page-header__nav-list,
.page-header__contacts-list,
.page-header__contacts-list-item,
.page-header__contacts-list-item-wrap {
  display: flex;
}

page-header__contacts-list,
.page-header__contacts-list-item {
  align-items: center;
}

.page-header__nav-list,
.page-header__contacts-list {
  gap: 24px;
}

.page-header__nav-list {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
}

.page-header__contacts-list {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 500;
}

.page-header__contacts-list-item {
  gap: 8px;
}
.page-header__contacts-list-item-wrap {
  flex-direction: column;

  /*  todo для лого в псевдоэлементе задать current color - он ссылается на цвет контейнера
 также для псевдо элемента  общие правила для позиционирования и отдельно каждому элементу картинку*/
}
.page-header__contacts-list-item::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page-header__contacts-list-item:first-child::before {
  background-image: url("../icons/phone.svg");
}

.page-header__contacts-list-item:nth-child(2)::before {
  background-image: url("../icons/time.svg");
}

.page-header__contacts-list-item:last-child::before {
  background-image: url("../icons/location.svg");
}

.page-header__contacts-list-text {
  margin-block: 0;
}

.page-header__contacts-list-text:last-child {
  max-width: 180px;
  font-style: normal;
}

/*  HERO */

/*todo исправить высоту блока (внизу немного больше)*/

.hero {
  display: flex;
  gap: clamp(16px, 0.5rem + 2.5vw, 64px);
  margin-block-end: 52px;
}

.promo {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.promo__yandex-maps-rating::before {
  content: "";
  display: block;
  width: 142px;
  height: 40px;
  background-image: url("../icons/rating.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.promo__title {
  font-size: clamp(1.5rem, 0.5rem + 2.5vw, 3rem);
  font-weight: 800;
  line-height: 125%;

  margin-block: 0;
}

.promo__subtitle {
  position: relative;
  font-size: clamp(1.25rem, 0.5rem + 2.5vw, 2.25rem);
  font-weight: 800;
  line-height: 125%;
  text-align: center;
  margin-block: 0;
}

.promo__subtitle::before {
  z-index: -1;
  position: absolute;
  top: 56%;
  left: 16%;
  content: "";
  display: block;
  width: 106px;
  height: 16px;
  background-image: url("../icons/underline.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.promo__services-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(1rem, 0.5rem + 2.5vw, 2rem);
  font-weight: 600;
  text-align: left;
}

.promo__services-item::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.promo__adventage {
  position: relative;
  margin-block: 0;
  transform: rotate(-0.765deg);
  font-size: clamp(1rem, 0.5rem + 2.5vw, 2rem);
  font-weight: 600;
  color: var(--white);
  margin-inline-end: 10%;
}

.promo__adventage::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -12%;
  left: -10%;
  width: 130%;
  height: 122%;
  background-image: url("../icons/ink-stroke.png");
  background-size: cover;
}

.promo__statistics {
  display: flex;
  gap: 16px;
  margin-block: 0;
}

.promo__statistics-item {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.promo__statistics-description {
  font-size: clamp(1.25rem, 0.5rem + 2.5vw, 2.25rem);
  font-weight: 800;
  color: var(--primary-light);
  margin-inline: 0;
}

.promo__statistics-title {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 700;
}

.promo_footer {
  display: flex;
}

a.order-button {
  display: inline-block;
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1.25rem);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white);
  padding-inline: 2rem;
  padding-block: 1rem;
  background: var(--primary);
  border-radius: 10% / 31%;
}

.promo__subscribers {
  margin-inline-start: 16px;
}

.promo__subscribers-avatars-list {
  display: flex;
  align-items: center;
}
.promo__subscribers-avatars-item {
}

.promo__subscribers-avatars-item:nth-child(1) {
  z-index: 1;
}
.promo__subscribers-avatars-item:nth-child(2) {
  z-index: 2;
  margin-inline-start: -8px;
}
.promo__subscribers-avatars-item:nth-child(3) {
  z-index: 3;
  margin-inline-start: -8px;
}

.promo__subscriber-avatar {
  border: 1px solid var(--white);
  border-radius: 50%;
}

.promo__subscribers-count {
  z-index: 4;
  margin-inline-start: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  aspect-ratio: 1;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--secondary-light);
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 800;
  color: var(--white);
}

.promo__subscribers-count-description {
  display: flex;
  gap: 1px;
  align-items: center;
  padding-block-end: 2px;
  margin-inline-start: 4px;
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.875rem);
  font-weight: 700;
  color: var(--secondary-light);
}

.promo__subscribers-count-description::after {
  display: inline-block;
  content: "";
  background: url("icons/vk.svg");
  width: 26px;
  height: 14px;
  margin-block-end: 3px;
}

.slider {
  /* margin-inline-end: -50vw;
  min-width: 50vw;*/
  grid-column: 3 / span 2;
  /*  overflow-x: hidden;*/
  display: grid;
  grid-template-columns: var(--active-slide-width) 1fr;
  grid-template-rows: var(--slide-height) calc(
      var(--active-slide-height) - var(--slide-height)
    );
  overflow: hidden;
}

.slider__slides-list {
  /*display: flex;
  gap: 20px;*/
  grid-column: span 2;
  /* display: flex;
  gap: 20px;*/
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.slider__slide-item {
  /*padding-block-start: 16px;*/
}

.slider__slide {
  /*position: relative; /*todo убрать?*/
  width: var(--slide-width);
  aspect-ratio: 2 / 3;
}
.slider__slide-img {
  border-radius: 3% / 2%;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.03))
    drop-shadow(0px 20px 24px rgba(0, 0, 0, 0.08));
}

/* todo оформления карточек разного размера (разные классы для активной и остальных,
   либо оформить обычные а большой задать scale  */
.slider__slide-description {
  z-index: 2;
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: inline-block;
  margin-block: 0;
  padding-inline: 8px;
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 700;
  line-height: 125%;
  color: var(--white);
  background: var(--primary-alpha);
  border-radius: 6% / 37.5%; /*todo убрать % при разных размерах текста разный угол (привязать в viewport?)*/
}

.slider__slide-item.slider__slide-item_active {
  /*padding-block-start: 0;*/
  /*transform: scale(1.129);*/
  width: var(--active-slide-width);
}

.slider__slide-item_active .slider__slide-img {
  /*transform: scale(1.129);*/
  /*todo overflow-x?*/
  /*width: 344px;
  height: 516px;*/
}

/*todo стили для плашки на увеличенном слайде*/
.slider__slide-item_active .slider__slide-description {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
}

.slider__slider-butons {
  grid-column-start: 2;
  align-self: center;
  display: flex;
  gap: 8px;
  /* position: relative;
  bottom: 52px;
  left: 344px;*/
  padding-inline-start: 20px;
}

.slider__slider-button {
  width: 40px;
  aspect-ratio: 1;
  background: url("icons/arrow.svg");
  padding: 0;
  border: none;
}

.slider__slider-button_right {
  transform: rotate(180deg);
}

.advantages {
  grid-column: 2 / span 2;
  margin-block-end: var(--section-margin);
}

.advantages__list {
  display: grid;
  grid-auto-flow: column; /*todo почему без него выстраивается в стобик*/
  grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
  gap: 35px;
}

.advantages__item {
  text-align: center;
}

.advantages__advantage-title::before {
  content: "";
  display: block;
  width: 80px;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-block-end: 4px;
}

.advantages__item:nth-child(1) .advantages__advantage-title::before {
  background: url("icons/advantages/japan.svg");
}

.advantages__item:nth-child(2) .advantages__advantage-title::before {
  background: url("icons/advantages/rocket.svg");
}

.advantages__item:nth-child(3) .advantages__advantage-title::before {
  background: url("icons/advantages/canvas.svg");
}

.advantages__item:nth-child(4) .advantages__advantage-title::before {
  background: url("icons/advantages/sizes.svg");
}

.advantages__item:nth-child(5) .advantages__advantage-title::before {
  background: url("icons/advantages/russia.svg");
}

.advantages__item:nth-child(6) .advantages__advantage-title::before {
  background: url("icons/advantages/guarantee.svg");
}

.advantages__advantage-title {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
  line-height: 125%;
  margin-block: 0 4px;
}

.advantages__advantage-description {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.875rem);
  font-weight: 400;
  line-height: 143%;
  margin-block: 4px 0;
}

.steps {
  grid-column: 2 / span 2;
  margin-block-end: var(--section-margin);
}

.steps__list {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.steps__item {
  /*display: grid;
  grid-template-columns: auto 1fr auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps__item:nth-child(even) {
  flex-direction: row-reverse;
}
.steps__item .steps__img-group {
  height: 18vw;
}
/*todo нечетные реверсить*/

.marker {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 6px solid var(--primary-light);
  border-radius: 50%;
  font-size: clamp(1.75rem, 0.5rem + 2.5vw, 2.5rem);
  font-weight: 700;
  line-height: 100%;
  color: var(--primary-light);
}

.steps__text-group {
  width: 20%;
}

.steps__item-title {
  font-size: clamp(1.25rem, 0.5rem + 2.5vw, 1.75rem);
  font-weight: 700;
  line-height: 114.286%;
  text-align: center;
  margin-block: 0 8px;
}

.steps__text,
.steps__receipt-item {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-block: 0;
}

.steps__item:nth-child(1) .steps__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 8px;
}

.steps__item:nth-child(1) .steps__item-title {
  margin-block-end: 0;
}
.steps__item:nth-child(1) .steps__img-group {
  display: grid;
  /*todo исправить сетку*/
  grid-template-columns: 78% 1fr;
  grid-template-rows: 26% 1fr;
  /*  grid-template-columns: 24vw 1fr;
  grid-template-rows: 5vw 1fr;*/
}
.steps__item:nth-child(1) .steps__img:first-child {
  grid-column: 1 / 3;
  width: 30vw;
}

.steps__item:nth-child(1) .steps__img:last-child {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 10vw;
}

.steps__contacts-list {
  display: flex;
  gap: 12px;
}

.steps__contact-link {
  display: block;
  width: 36px; /*todo можно ли как-то обойтись без ручного указания размера? через тег svg?*/
  height: 36px;
}

.steps__contact-link_adress {
  background-image: url("icons/location.svg"); /*todo исправить повтор фона*/
  width: 28px;
}

/*todo перекрасить иконки*/
.steps__contact-link_vk {
  background-image: url("icons/vk-bubble.svg");
}

.steps__contact-link_e-mail {
  background-image: url("icons/e-mail.svg");
}

.services-list {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(2, minmax(384px, 1fr));
  gap: 32px;
}

.card {
  display: grid;
  grid-template:
    "img title" auto
    "img text" 1fr;
  row-gap: 2px;
  column-gap: 16px;
  grid-auto-rows: auto;
}
.card__img {
  grid-area: img;
  border-radius: 6.25%;
}

.card__title {
  grid-area: title;
  font-size: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
  font-weight: 700;
  line-height: 120%;
  color: var(--primary-light);
  margin-block: 0;
}

.card__text {
  grid-area: text;
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 0.875rem);
  font-weight: 500;
  line-height: 142.857%;
  margin-block: 0;
}

.services-list__item:nth-child(n + 3) .card {
  /*todo исправить сетку */
  grid-template-areas:
    "title img"
    "text img";
}

.steps__item:nth-child(4) .steps__img-group {
  display: grid;
  grid-template-columns: 7vw 1fr;
  grid-template-rows: 7vw 1fr;
}

.steps__item:nth-child(4) .steps__img {
  border-radius: 10px;
}
.steps__item:nth-child(4) .steps__img:first-child {
  grid-column-start: 2;
  grid-row: 1 / 3;
}

.steps__item:nth-child(4) .steps__img:last-child {
  grid-column: 1 / 3;
  grid-row-start: 2;
}

/**/
.steps__item:nth-child(5) .steps__img-group {
  display: grid;
  grid-template-columns: 66% 1fr;
  gap: 20px;
}

.steps__item:nth-child(5) .steps__img:nth-child(-n + 2) {
  border-radius: 10px;
}
.steps__item:nth-child(5) .steps__img:first-child {
  grid-row: 1 / span 3;
}

.steps__receipt-list {
  padding-inline-start: 16px;
}

.steps__receipt-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.steps__receipt-item::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("icons/checkbox.svg");
  background-size: contain;
}

.popular-sizes {
  grid-column: 2 / span 2;
  width: 100%;
  margin-block-end: var(--section-margin);
}
.popular-sizes__list {
  display: flex;
  justify-content: space-between;
}

.popular-sizes__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-sizes__size-value {
  display: inline-block;
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1.25rem);
  font-weight: 700;
  line-height: 120%;
  padding-inline: 16px;
  padding-block: 4px;
  margin-block: 20px 0;
  background: var(--primary-light);
  border-radius: 13.186% / 37.5%;
  color: var(--white);
}

/*todo 

min-content - выставляет размер в зависимости от размера изображения
    grid-template-columns: repeat(10, min-content);
    grid-template-rows: repeat(10, min-content);

todo: ограничивать размером изображений и размером колонок в fr или %
todo: добавить grid-auto-rows: min-content; чтобы залетали новые ячейки
todo: data атрибуты может в них закладывать или названиями классов
todo: определять span с помощью ::nth-child по какому-то паттерну, чтобы не пришлось каждому эл-ту задавать  
    можно ли ставить просто span для любого элемента добавлять классом или атрибутом
*/

.works {
  grid-column: 1 / span 4;
  margin-block-end: var(--section-margin);
}
.works__list {
  display: grid;
  /* grid-template-columns: repeat(32, 3.125%);
  grid-template-rows: repeat(14, 3.125vw);*/
  /*todo поравить значение, неправильные пропорции*/
  grid-template-columns: repeat(
    32,
    calc((100% - 372px) / 32)
  ); /*todo завести переменную (деление таблицы)?*/
  grid-template-rows: repeat(14, calc((100vw - 156px) / 32));
  grid-auto-flow: dense;
  gap: 12px;
}

[class*="_border"] {
  border: 1px solid grey;
}

[class*="_cols_2"] {
  grid-column-end: span 2;
}

[class*="_cols_3"] {
  grid-column-end: span 3;
}
[class*="_cols_4"] {
  grid-column-end: span 4;
}
[class*="_cols_5"] {
  grid-column-end: span 5;
}
[class*="_cols_6"] {
  grid-column-end: span 6;
}
[class*="_cols_9"] {
  grid-column-end: span 9;
}
[class*="_rows_3"] {
  grid-row-end: span 3;
}
[class*="_rows_4"] {
  grid-row-end: span 4;
}
[class*="_rows_5"] {
  grid-row-end: span 5;
}
[class*="_rows_6"] {
  grid-row-end: span 6;
}

[class*="_rows_7"] {
  grid-row-end: span 7;
}

.works__item:nth-child(9) {
  grid-column-start: 1;
}

.works__item:nth-child(21) {
  grid-column-start: 16;
  grid-row-start: 11;
}

.works__item:nth-child(23) {
  grid-column-start: 24;
  grid-row-start: 9;
}
.works__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.feedback {
  grid-column: 2 / span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 72px;
  margin-block-end: var(--section-margin);
}
.feedback__title {
  grid-column: span 3;
}
.feedback__button {
  display: block;
  align-self: center;
  width: 40px;
  height: 40px;
  background: url(icons/arrow.svg); /*todo странные размеры фона*/
  border: none;
}

.feedback__button_next {
  transform: rotate(180deg);
}

/*todo исправить ширину, переситать ее в %, иначе шире заданного*/
.feedback__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}
.feedback-card {
  display: grid;
  grid-template-columns: 256px;
  /* grid-template-columns: 80px 176px;*/
  grid-template-rows: 224px 80px /*36px 44px*/ 68px 32px;
}

.feedback-card__header {
  display: grid;
  grid-template-columns: 80px 176px;
  grid-template-rows: 56px 27px;
  /*display: flex;
  margin-block-start: -32px;*/
}

.feedback-card__img {
  border-radius: 7.81%;
  /*grid-column: 1 / 3;*/
}

.feedback-card__full-name {
  /* grid-row-start: 2;
  grid-column-start: 2;*/
  align-self: end;
  font-size: clamp(1rem, 0.5rem + 2.5vw, 0.875rem);
  font-weight: 800;
  line-height: 115%;
  margin-block: 0 4px;
}

.feedback-card__avatar {
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  border: 8px solid var(--white);
  border-radius: 50%;
}

.feedback-card__date {
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 600;
  line-height: 100%;
}
.feedback-card__text {
  /*grid-row-start: 4;
  grid-column: span 2;*/
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 700;
  line-height: 133.33%;
  margin-block: 0;
  padding-block-end: 4px;
}
a.feedback-card__link {
  /*grid-row-start: 5;
  grid-column: span 2;*/
  justify-self: end;
  /*todo занести общие св-ва в .button (color: white и пр. */
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 700;
  line-height: 100%;
  padding-block: 8px;
  padding-inline: 12px;
  color: var(--white);
  background-color: var(--secondary-light);
  border-radius: 10px;
}
.feedback-card__link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("icons/vk.svg");
  margin-inline-start: 8px;
  margin-block-start: 2px;
}

.feedback__order-button {
  grid-column: span 3;
  justify-self: center;
  margin-block-start: 48px;
}
.contacts {
  grid-column: 2 / span 2;
  width: 100%;
  display: grid;
  column-gap: 32px;
  grid-template:
    "title title"
    "map contacts-list" auto
    "map social-list" 1fr
    / 696px 1fr;
  /*todo как уменьшить высоту contacts-list (dd block - не работает grid) */
  margin-block-end: var(--section-margin);
}

.contacts__title {
  grid-area: title;
}

.contacts__map {
  grid-area: map;
  position: relative;
}

.contacts__map::after {
  content: "";
  position: absolute;
  top: 42.62%;
  left: 45.97%;
  width: 56px;
  height: 72px;
  background: url("icons/map-pin.svg");
}
.contacts__map-img {
  border-radius: 2.873% / 4.098%;
}

.contacts__list {
  grid-area: contacts-list;
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1.25rem);
  line-height: 120%;
}

.contacts__item-title {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
  line-height: 125%;
  margin-block-end: 8px;
}

.contacts__item-description:nth-of-type(-n + 2) {
  font-weight: 600;
}

.contacts__address {
  font-style: normal;
}

.contacts__item-description:nth-of-type(n + 3) {
  font-weight: 700;
  color: var(--primary-light);
}

.contacts__social-list {
  grid-area: social-list;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.page-footer__copyright {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
  line-height: 125%;
  margin-block: 0;
}

a.page-footer__developer-link {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 400;
  line-height: 133.333%;
  text-align: center;
  margin-block: 0;
  color: var(--grey);
}
