@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.woff2")
    format("woff2-variations");
  /*font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;*/
}

html {
  overflow-x: hidden; /*fix devtools adaptive preview scroll bug*/
}

body {
  font-family: "Nunito", "Arial", sans-serif;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    minmax(300px, var(--content-width))
    minmax(16px, 1fr);
  grid-auto-rows: min-content;
  overflow-x: hidden;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*width: 100vw;
  height: 100vh;*/
  background-color: white; /*для ускорения загрузки preloder?*/
  z-index: 10;
  transition: opacity 0.3s ease;
}

.preloader__logo {
  width: 10vh;
  height: 10vh;
  min-height: 80px;
  min-width: 80px;
  /* background-image: url(../assets/icons.svg#full-logo); /*logo-img-only  full-logo*/
  animation: preloader-bounce 3s infinite ease-in-out;
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.85);
  }
}

.preloader_hide {
  opacity: 0;
}

picture img {
  animation: 2s infinite pulse;
  clip-path: inset(0);
}
picture[data-loaded] img {
  animation: unset;
}

@keyframes pulse {
  0% {
    filter: blur(25px) opacity(75%);
  }
  50% {
    filter: blur(25px) opacity(100%);
  }
  100% {
    filter: blur(25px) opacity(75%);
  }
}

.section-title {
  width: calc(8vw + 216px);
  margin-inline: auto;
  position: relative;
  color: var(--white);
  font-size: var(--fs-xxl) /*clamp(1.5rem, 0.5rem + 2.5vw, 2.25rem)*/;
  font-weight: 700;
  line-height: var(--lh-title-bs);
  margin-block: 0 var(--section-title-margin);
  text-align: center;
}

.section-title::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -10%;
  left: -17%;
  width: 137%;
  height: 116%;
  background-image: url(../assets/images/ink-stroke.png);
  background-size: cover;
}

.page-header,
.page-footer {
  max-width: var(--content-width);
  /* height: 100px;*/
  padding-block: clamp(8px, 2vh, 36px);
  grid-column-start: 2;
}

.page-main {
  grid-column: span 3;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    repeat(2, minmax(150px, calc(var(--content-width) / 2)))
    minmax(16px, 1fr);
  /*var(--content-width) / 2
  repeat(2, minmax(min-content, 720px))*/
  /*justify-items: start;*/
}

/* todo актуализировать */
[class*="_color_primary"] {
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.order-button {
  display: inline-block;
  font-size: var(--fs-md) /*clamp(0.5rem, 0.3rem + 1.5vw, 1.25rem)*/;
  font-weight: 800;
  text-transform: uppercase;
  line-height: var(--lh-zero);
  color: var(--white);
  padding-inline: 2em;
  padding-block: 1em;
  background: var(--primary);
  border-radius: 10% / 31%;
}

a.order-button:hover {
  background: var(--secondary-light);
}

.slider-button {
  /* width: 40px;*/
  width: var(--round-size);
  aspect-ratio: 1;
  background-color: var(--primary-light);
  mask: url(../assets/icons.svg#arrow);

  padding: 0;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.slider-button:active {
  transform: scale(0.8);
}

.slider-button_right {
  transform: rotate(180deg);
}

.slider-button_right:active {
  transform: rotate(180deg) scale(0.8);
}

.slider-button:hover {
  background-color: var(--secondary-light);
}
