@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.woff2")
    format("woff2-variations");
  /*font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;*/
}

html {
  overflow-x: hidden; /*fix devtools adaptive preview scroll bug*/
}

body {
  font-family: "Nunito", "Arial", sans-serif;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    minmax(300px, var(--content-width))
    minmax(16px, 1fr);
  grid-auto-rows: min-content;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scroll {
  overflow-y: hidden;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /*для ускорения загрузки preloder?*/
  z-index: 10;
  transition: opacity 0.3s ease;
}

.preloader__logo {
  width: 10vh;
  height: 10vh;
  min-height: 80px;
  min-width: 80px;
  animation: preloader-bounce 3s infinite ease-in-out;
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.85);
  }
}

.preloader_hide {
  opacity: 0;
}

picture img {
  animation: 2s infinite pulse;
}
picture[data-loaded] img {
  animation: unset;
}

@keyframes pulse {
  0% {
    filter: blur(8px) opacity(75%);
  }
  50% {
    filter: blur(8px) opacity(100%);
  }
  100% {
    filter: blur(8px) opacity(75%);
  }
}

.section-title {
  width: calc(8vw + 216px);
  margin-inline: auto;
  position: relative;
  color: var(--white);
  font-size: var(--fs-xxl);
  font-weight: 700;
  line-height: var(--lh-title-bs);
  margin-block: 0 var(--section-title-margin);
  text-align: center;
}

.section-title::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -0.4vw;
  left: -17%;
  width: 137%;
  aspect-ratio: 10;
  background-image: url(../assets/background/ink-stroke-533.png);
  background-size: cover;
}

.page-header,
.page-footer {
  max-width: var(--content-width);
  padding-block: clamp(8px, 2vh, 36px);
  grid-column-start: 2;
}

.page-main {
  grid-column: span 3;
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    repeat(2, minmax(150px, calc(var(--content-width) / 2)))
    minmax(16px, 1fr);
}

[class*="_color_primary"] {
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.order-button {
  display: inline-block;
  font-size: var(--fs-md);
  font-weight: 800;
  text-transform: uppercase;
  line-height: var(--lh-zero);
  color: var(--white);
  padding-inline: 2em;
  padding-block: 1em;
  background: var(--primary);
  border-radius: 10% / 31%;
}

a.order-button:hover {
  background: var(--secondary-light);
}

.slider-button {
  width: var(--round-size);
  aspect-ratio: 1;
  background-color: var(--primary-light);
  mask: url(../assets/icons.svg#arrow);

  padding: 0;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.slider-button:active {
  transform: scale(0.8);
}

.slider-button_right {
  transform: rotate(180deg);
}

.slider-button_right:active {
  transform: rotate(180deg) scale(0.8);
}

.slider-button:hover {
  background-color: var(--secondary-light);
}

.animate {
  opacity: 0;
}

.scrolled-in.show {
  animation: show var(--animation-time) ease-in-out both;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrolled-in.show-faster {
  animation: show-faster var(--animation-time) ease-in-out both;
}

@keyframes show-faster {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.scrolled-in.show-from-up {
  animation: show-from-up var(--animation-time) ease-in-out both;
}

@keyframes show-from-up {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled-in.show-from-left {
  animation: show-from-left var(--animation-time) ease-in-out both;
}

@keyframes show-from-left {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled-in.show-from-right {
  animation: show-from-right var(--animation-time) ease-in-out both;
}

@keyframes show-from-right {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled-in.show-from-down {
  animation: show-from-down var(--animation-time) ease-in-out both;
}

@keyframes show-from-down {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled-in.roll-from-left {
  animation: roll-from-left var(--animation-time) ease-in-out both;
}

@keyframes roll-from-left {
  from {
    transform: translateX(-110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled-in.roll-from-right {
  animation: roll-from-right var(--animation-time) ease-in-out both;
}

@keyframes roll-from-right {
  from {
    transform: translateX(110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled-in.show-zoom-in {
  animation: show-zoom-in var(--animation-time) ease-in-out both;
}

@keyframes show-zoom-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scrolled-in.zoom-in {
  animation: zoom-in var(--animation-time) ease-in-out both;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
