.feedback {
  grid-column: 2 / span 2;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content; /*92.444%*/
  grid-template-rows: repeat(3, min-content); /*min-content 1fr min-content;*/
  column-gap: 1% /*72px*/;
  align-items: center;
  margin-block-end: var(--section-margin-bs);
}
.feedback__title {
  grid-column: span 3;
}

.feedback__list-wrapper {
  overflow-x: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 5%,
    #000 95%,
    transparent 100%
  );
  /*border: 1px solid black;*/
}

/*todo исправить ширину, переситать ее в %, иначе шире заданного*/
.feedback__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 19.23%);
  grid-auto-columns: 19.23%;
  /* display: flex;*/
  gap: 4.615%;
  /*
  grid-template-columns: repeat(4, 25%);
  grid-auto-columns: 25%;

  /* grid-template-columns: repeat(
    auto-fit,
    minmax(256px, 1fr)
  ); repeat(4, 24.25%);
  /*grid-auto-columns: 24.25%;
  gap: 1%;
  /*row-gap: 24px;*/
}
.feedback-card {
  display: grid;
  /*grid-template-columns: 256px;*/
  /* grid-template-columns: 80px 176px;*/
  /*grid-template-rows: 224px 80px /*36px 44px*/ /*68px 32px;*/
  grid-template-rows: 55.445% 19.801% 16.831% 7.92% /*170px 60px 52px 24px*/;
  aspect-ratio: 0.6214;
  overflow: hidden;
}

.feedback-card__header {
  display: grid;
  grid-template-columns: 31.25% 68.75%;
  grid-template-rows: 35% 65%;
  /*grid-template-rows: 67.496% 32.53%;*/
  /*
  grid-template-columns: 80px 176px;
  grid-template-rows: 56px 27px;*/
  /*display: flex;
    margin-block-start: -32px;*/
}

.feedback-card__img {
  border-radius: 7.81%;
  /*grid-column: 1 / 3;*/
  width: 100%;
  height: auto;
}

.feedback-card__full-name {
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: center;
  font-size: var(--fs-bs) /*clamp(1rem, 0.5rem + 2.5vw, 0.875rem)*/;
  font-weight: 800;
  line-height: var(--lh-title-xs);
  margin-block: 0;
}

img.feedback-card__avatar {
  /*img добавил чтобы убрать дублирование обводки в аватарке*/
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  /*width: 80px;
  height: 80px;
  */
  /* border: 8px solid var(--white);*/
  border: clamp(5px, 0.7vw, 8px) solid var(--white);
  border-radius: 50%;
}

.feedback-card__date {
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: var(--fs-sm) /*clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem)*/;
  font-weight: 600;
  line-height: 100%;
}
.feedback-card__text {
  /*grid-row-start: 4;
    grid-column: span 2;*/
  font-size: var(--fs-sm) /*clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem)*/;
  font-weight: 700;
  line-height: var(--lh-text-xs);
  margin-block: 0;
  padding-block-end: 4px;
  mask-image: linear-gradient(
    to bottom,
    #000 50%,
    transparent 90%,
    transparent 100%
  );
}
a.feedback-card__link {
  /*grid-row-start: 5;
    grid-column: span 2;*/
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
  /*todo занести общие св-ва в .button (color: white и пр. */
  font-size: var(--fs-sm) /*clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem)*/;
  font-weight: 700;
  line-height: var(--lh-zero);
  padding-block: 8px;
  padding-inline: 12px;
  color: var(--white);
  background-color: var(--secondary-light);
  border-radius: 10px;
}
.feedback-card__link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 11px;
  background-color: var(--white);
  mask: url(../assets/icons.svg#vk-logo);
}

.feedback__order-button {
  grid-column: span 3;
  justify-self: center;
  margin-block-start: 48px;
}
