.page-footer {
  display: grid;
  grid-template-columns: 1fr 48vw 1fr;
  align-items: center;
  text-align: center;
}

.page-footer__copyright {
  justify-self: center;
  font-size: var(--fs-bs);
  font-weight: 700;
  line-height: var(--lh-text-bs);
  margin-block: 0;
}

a.page-footer__developer-link {
  justify-self: end;
  font-size: var(--fs-xs);
  font-weight: 400;
  line-height: var(--lh-text-xs);
  margin-block: 0;
  color: var(--grey);
  transition: color 0.3s ease;
}

a.page-footer__developer-link:hover {
  color: var(--primary-light);
}
