@media (max-width: 1482px) {
  .hero {
    gap: clamp(20px, calc(68vw - 745px), 280px);
  }
  .promo {
    gap: clamp(8px, 1.5vw, 24px);
  }
  .steps__list {
    grid-template-rows: repeat(5, clamp(310px, calc(10.5vw + 191px), 345px));
  }
}
@media (max-width: 1300px) {
  .steps__list {
    grid-template-rows: repeat(5, min-content);
    /*grid-template-rows: repeat(5, clamp(440px, calc(38.7vw + 90px), 592px));*/
  }
  .steps__list > .steps__item {
    flex-direction: column-reverse;
    /* justify-content: space-between;*/
    gap: 20px;
  }

  .steps__item .marker {
    order: 1;
  }
  .steps__list > .steps__item > .steps__text-group {
    width: 100%;
  }

  .steps__item:nth-child(1) .steps__text-group {
    gap: 0.616vw;
  }

  .steps__item-title {
    margin-block: 0 0.616vw;
  }
  .services-list {
    height: auto;
    width: /*80%*/ 826px;
  }

  .steps__item:first-child > .steps__img-group {
    width: calc(43vw + 152px);
    height: calc(25.07vw + 96px);
    /*width: 700px;
    height: 416px;*/
  }

  .steps__item:nth-child(n + 2) > .steps__img-group {
    /*width: 750px;*/
    width: calc(43vw + 200px);
    height: auto;
  }

  /*.steps__item .steps__img-group {
    width: 40%;
  }

  .steps__item:nth-child(1) .steps__img-group {
    width: 42.5%;
    height: 54%;
  }
  .steps__item:nth-child(3) {
    gap: 38px;
  }
  .steps__item:nth-child(4) .steps__img-group {
    width: 62.5%;
    height: auto;
  }
  .steps__item:nth-child(5) .steps__img-group {
    width: 58.5%;
    height: auto;
  }*/
}

@media (max-width: 1250px) {
  .page-header {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
  .page-header__burger-button {
    display: block;
  }
  .page-header__burger-button {
    position: relative;
    display: block;
    width: 32px;
    height: 26px;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .page-header__burger-button:hover {
    cursor: pointer;
  }

  .page-header__burger-button::before,
  .page-header__burger-button-icon,
  .page-header__burger-button::after {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-light);
    transition: all 0.3s ease;
  }

  .page-header__burger-button-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .page-header__burger-button::before {
    position: absolute;
    content: "";
    top: 0;
  }

  .page-header__burger-button::after {
    position: absolute;
    content: "";
    bottom: 0;
  }

  .page-header__burger-button_open .page-header__burger-button-icon {
    opacity: 0;
  }

  .page-header__burger-button_open::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .page-header__burger-button_open::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }
  /* обрнуть nav и ul в div.header__menu чтобы проше было их на мобильном вместе позиционировать 
  сначала просто nav вырываем fixed, потом весь div fixed, 
  класс burger-button с fixed и стилями применять сначала к nav потом к всему div?
  (все по левому краю, между ссылками и nav отступ, который их разделяет
*/

  .page-header__nav {
    position: fixed;
    /*top: 124px;*/
    right: 0;
    padding-bottom: 100vh;
    background-color: var(--white);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .page-header__nav_open {
    transform: translateX(0);
    /*  transition: transform 0.5s ease;*/
  }

  ul.page-header__nav-list {
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
}

@media (max-width: 1200px) {
  .contacts {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__map::after {
    left: 44.97%;
  }

  .feedback {
    grid-template-columns: 1fr;
    gap: unset;
  }

  .feedback > .slider-button {
    display: none;
  }
  .feedback__list-wraper {
    mask-image: none;
  }
  .feedback__list {
    grid-template-columns: unset;
    grid-auto-columns: clamp(190px, 5.3vw + 161px, 225px);
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .feedback__item {
    scroll-snap-align: start;
  }
  .feedback-card {
    height: clamp(305px, calc((5.3vw + 161px) / 0.6214), 362px);
  }
}

@media (max-width: 1088px) {
  .popular-sizes__list {
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .popular-sizes__item {
    scroll-snap-align: start;
  }

  .works__wraper {
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .works__list {
    width: 1088px;
  }
}

@media (max-width: 858px) {
  .services-list {
    width: 100%;
  }

  /*.steps__list {
    grid-template-rows: repeat(5, 462px);
  }
  .services-list {
    width: 743px;
  }
  .steps__item:nth-child(1) .steps__img-group {
    width: 420px;
    height: 250px;
  }
  .steps__item:nth-child(4) .steps__img-group {
    width: 579px;
  }
  .steps__item:nth-child(5) .steps__img-group {
    width: 543px;
  }*/
}

@media (max-width: 818px) {
  .steps__list {
    grid-template-rows: repeat(5, max-content);
    gap: 20vh;
  }
  .services-list {
    width: 382px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    gap: 3vw;
  }

  .steps__list > .steps__item {
    gap: 4vw;
  }
  .steps__item:first-child > .steps__img-group {
    width: 500px;
    height: 298px;
    /*width: 700px;
    height: 416px;*/
  }

  .steps__item:nth-child(n + 2) > .steps__img-group {
    /*width: 750px;*/
    width: 550px;
  }
  .services-list__item:nth-child(odd) .card {
    grid-template:
      "title img" auto
      "text img" 1fr/ 1fr 38%;
  }
  .services-list__item:nth-child(even) .card {
    grid-template:
      "img title" auto
      "img text" 1fr /38% 1fr;
  }
}

@media (max-width: 815px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "contacts-list"
      "map";
  }

  ul.contacts__list {
    /*flex-direction: row;
    flex-wrap: wrap;
    margin-block: 0 20px;
    justify-content: space-around;
    align-items: center;*/
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    text-align: center;
    margin-block-start: 0;
    gap: 1em;
  }
  .contacts__list-item:nth-child(1) {
    grid-column: 1 / 4;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .contacts__list-item:nth-child(3) {
    order: 4;
    justify-self: center;
  }
  .contacts__list-item:nth-child(4) {
    justify-self: center;
  }
  .contacts__map-img {
    width: 100%;
  }
  .contacts__map {
    margin-block-start: 20px;
  }
}

@media (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
  }

  .promo__yandex-maps-rating {
    /*width: 10vw;*/
    margin-block-end: 6px;
    /* margin: 0 auto;
    transform: rotate(0deg);*/
  }

  .hero__slider {
    margin-block-start: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .slider__slides-list {
    margin-inline-start: 0;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slider__slide-item {
    scroll-snap-align: start;
  }
  .slider__slide-item:hover,
  .slider__slide-item:nth-child(2):hover {
    transform: unset !important;
  }
  .slider__slide-img {
    filter: unset;
  }
  .slider__slider-butons {
    display: none;
  }
}

@media (max-width: 685px) {
  .advantages__item {
    flex-basis: 300px;
  }
}

@media (max-width: 680px) {
  .page-header {
    grid-template-columns: repeat(2, auto);
  }
  .page-header__nav {
    position: static;
    background-color: unset;
    padding-bottom: 0;
    transform: none;
    transition: none;
  }

  ul.page-header__nav-list {
    padding: 0;
    align-items: start;
  }

  .page-header__menu {
    position: fixed;
    right: 0;
    padding: 2em 2em 100vh;
    flex-direction: column-reverse;
    align-items: start;
    gap: 1em;
    background-color: var(--white);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .page-header__contacts-list {
    flex-direction: column-reverse;
  }

  .page-header__menu_open {
    transform: translateX(0);
  }
}

@media (max-width: 582px) {
  .steps__item:nth-child(n + 2) > .steps__img-group {
    /*width: 750px;*/
    width: 100%;
  }
  /*.steps__item:nth-child(4) .steps__img-group {
    width: 100%;
  }

  .steps__item:nth-child(5) .steps__img-group {
    width: 90%;
  }*/
}

@media (max-width: 532px) {
  .steps__item:nth-child(1) .steps__img-group {
    width: 100%;
    height: 55vw;
    aspect-ratio: unset;
  }
  .page-footer {
    /* grid-template-columns: repeat(3, 1fr);*/
  }
}

@media (max-width: 573px) {
  ul.contacts__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
  }
  .contacts__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }
  .contacts__list-item:nth-child(3) {
    order: unset;
  }
  .contacts__list-item:nth-child(4) {
    grid-column: 1 / 3;
  }
}

@media (max-width: 470px) {
  .page-footer {
    gap: 2vw;
  }
}

@media (max-width: 437px) {
  ul.contacts__list {
    grid-template-columns: 1fr;
  }
  .contacts__list-item:nth-child(1),
  .contacts__list-item:nth-child(4) {
    grid-column: unset;
  }
}

@media (max-width: 414px) {
  .steps__list > .steps__item {
    gap: 6vw;
  }
  .services-list {
    width: 100%;
    grid-template-rows: repeat(4, min-content);
    gap: 4vw;
  }
  .services-list__item:nth-child(n + 1) .card {
    grid-template:
      "title"
      "img"
      "text";
    justify-items: center;
    gap: 2vw;
  }

  .card__title {
    margin-block-end: 1vw;
  }

  .card__img {
    width: 60% /*145px*/;
  }
  .card__text {
    text-align: center;
  }
}

@media (max-width: 411px) {
  .contacts__list-item:first-child > .contacts__item-text {
    flex-direction: column;
    gap: 6px;
  }
}

@media (max-width: 408px) {
  .promo_footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: inherit;
  }
}

@media (max-width: 372px) {
  /* .services-list {
    width: 100%;
  }*/
}
