*,
*::before,
*::after {
  box-sizing: border-box;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

img,
picture {
  /*добавляет picture для работы стилей с picture, и в браузерах без picture*/
  display: block;
  max-width: 100%;
  border-radius: inherit; /* для работы border-radius при picture*/
}

dd[class] {
  margin-inline-start: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%; /* todo 100vh может?*/
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
