:root {
  --white: #fff;
  --black: #344054;
  --grey: #85888e;
  --primary: linear-gradient(180deg, #941b81 0%, #801f82 45.83%, #672383 100%);
  --primary-light: #b24fa3;
  --primary-alpha: rgba(121, 32, 130, 0.7);
  --secondary: linear-gradient(
    180deg,
    #e5007b 0%,
    #de0568 48.96%,
    #d70a55 100%
  );
  --secondary-light: #ef77b2;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  
  /* 14 на 480px последнее*/
  --fs-xs: clamp(0.69rem, 0vi + 0.69rem, 0.69rem);
  --fs-sm: clamp(0.78rem, 0.07vi + 0.76rem, 0.83rem);
  --fs-bs: clamp(0.88rem, 0.15vi + 0.83rem, 1rem);
  --fs-md: clamp(0.98rem, 0.26vi + 0.91rem, 1.2rem);
  --fs-lg: clamp(1.11rem, 0.4vi + 0.99rem, 1.44rem);
  --fs-xl: clamp(1.25rem, 0.58vi + 1.07rem, 1.73rem);
  --fs-xxl: clamp(1.4rem, 0.81vi + 1.16rem, 2.07rem);
  --fs-xxxl: clamp(1.58rem, 1.1vi + 1.25rem, 2.49rem);
  --fs-xxxxl: clamp(1.77rem, 1.47vi + 1.33rem, 2.99rem);
  
  --lh-zero: 1;
  --lh-text-xs: 1.333;
  --lh-text-sm: 1.43;
  --lh-text-bs: 1.5;
  --lh-text-lg: 1.555;

  --lh-title-xs: 1.2;
  --lh-title-sm: 1.222;
  --lh-title-bs: 1.25;
  --lh-title-lg: 1.266;

  --content-width: 1440px;
  --section-title-margin: 5vh;
  --section-margin-sm: 10vh;
  --section-margin-bs: 20vh;
  --round-size: clamp(32px, 2.5vw, 40px);
  --slide-width: clamp(200px, 15vw, 290px);
  --slide-height: calc(var(--slide-width) / (2 / 3));
  --active-slide-width: clamp(250px, 18.75vw, 360px);
  --active-slide-height: calc(var(--active-slide-width) / (2 / 3));

  --animation-time: 1.3s;
}
