:root {
  --white: #fff;
  --black: #344054;
  --grey: #85888e;
  --primary: linear-gradient(180deg, #941b81 0%, #801f82 45.83%, #672383 100%);
  --primary-light: #b24fa3;
  --primary-alpha: rgba(121, 32, 130, 0.7);
  --secondary: linear-gradient(
    180deg,
    #e5007b 0%,
    #de0568 48.96%,
    #d70a55 100%
  );
  --secondary-light: #ef77b2;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* todo 
    sm - слишком маленький
    advantages title и description одного размера (нужен промежуточный?)
    md большеват для nav 
  */

  /*https://www.fluid-type-scale.com/calculate?minFontSize=12&minWidth=480&minRatio=1.25&maxFontSize=18&maxWidth=1920&maxRatio=1.333&steps=sm%2Cbs%2Cmd%2Clg%2Cxl%2Cxxl&baseStep=bs&prefix=fs&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280*/
  /* --fs-sm: clamp(0.6rem, 0.24vw + 0.55rem, 0.84rem);
  --fs-bs: clamp(0.75rem, 0.38vw + 0.68rem, 1.13rem);
  --fs-md: clamp(0.94rem, 0.56vw + 0.83rem, 1.5rem);
  --fs-lg: clamp(1.17rem, 0.83vw + 1.01rem, 2rem);
  --fs-xl: clamp(1.46rem, 1.2vw + 1.22rem, 2.66rem);
  --fs-xxl: clamp(1.83rem, 1.72vw + 1.49rem, 3.55rem);*/

  /* до 640px 
  --fs-xs: clamp(0.59rem, 0.14vi + 0.54rem, 0.69rem);
  --fs-sm: clamp(0.67rem, 0.23vi + 0.57rem, 0.83rem);
  --fs-bs: clamp(0.75rem, 0.34vi + 0.61rem, 1rem);
  --fs-md: clamp(0.84rem, 0.49vi + 0.65rem, 1.2rem);
  --fs-lg: clamp(0.95rem, 0.68vi + 0.68rem, 1.44rem);
  --fs-xl: clamp(1.07rem, 0.91vi + 0.7rem, 1.73rem);
  --fs-xxl: clamp(1.2rem, 1.2vi + 0.72rem, 2.07rem);
  --fs-xxxl: clamp(1.35rem, 1.57vi + 0.72rem, 2.49rem);
  --fs-xxxxl: clamp(1.52rem, 2.02vi + 0.71rem, 2.99rem);
*/

  /* слишком большой 
--fs-xs: clamp(0.61rem, 0.14vi + 0.56rem, 0.69rem);
  --fs-sm: clamp(0.73rem, 0.17vi + 0.68rem, 0.83rem);
  --fs-bs: clamp(0.88rem, 0.21vi + 0.81rem, 1rem);
  --fs-md: clamp(1.05rem, 0.25vi + 0.98rem, 1.2rem);
  --fs-lg: clamp(1.26rem, 0.3vi + 1.17rem, 1.44rem);
  --fs-xl: clamp(1.51rem, 0.36vi + 1.4rem, 1.73rem);
  --fs-xxl: clamp(1.81rem, 0.43vi + 1.68rem, 2.07rem);
  --fs-xxxl: clamp(2.18rem, 0.52vi + 2.02rem, 2.49rem);
  --fs-xxxxl: clamp(2.61rem, 0.62vi + 2.43rem, 2.99rem);*/
  /* 14 на 480px последнее*/
  --fs-xs: clamp(0.69rem, 0vi + 0.69rem, 0.69rem);
  --fs-sm: clamp(0.78rem, 0.07vi + 0.76rem, 0.83rem);
  --fs-bs: clamp(0.88rem, 0.15vi + 0.83rem, 1rem);
  --fs-md: clamp(0.98rem, 0.26vi + 0.91rem, 1.2rem);
  --fs-lg: clamp(1.11rem, 0.4vi + 0.99rem, 1.44rem);
  --fs-xl: clamp(1.25rem, 0.58vi + 1.07rem, 1.73rem);
  --fs-xxl: clamp(1.4rem, 0.81vi + 1.16rem, 2.07rem);
  --fs-xxxl: clamp(1.58rem, 1.1vi + 1.25rem, 2.49rem);
  --fs-xxxxl: clamp(1.77rem, 1.47vi + 1.33rem, 2.99rem);
  /* 14 на 360px
  --fs-xs: clamp(0.69rem, 0vi + 0.69rem, 0.69rem);
  --fs-sm: clamp(0.78rem, 0.06vi + 0.76rem, 0.83rem);
  --fs-bs: clamp(0.88rem, 0.14vi + 0.84rem, 1rem);
  --fs-md: clamp(0.98rem, 0.24vi + 0.93rem, 1.2rem);
  --fs-lg: clamp(1.11rem, 0.37vi + 1.02rem, 1.44rem);
  --fs-xl: clamp(1.25rem, 0.54vi + 1.13rem, 1.73rem);
  --fs-xxl: clamp(1.4rem, 0.75vi + 1.23rem, 2.07rem);
  --fs-xxxl: clamp(1.58rem, 1.01vi + 1.35rem, 2.49rem);
  --fs-xxxxl: clamp(1.77rem, 1.35vi + 1.47rem, 2.99rem);

   /*13 до 360px
  --fs-xs: clamp(0.64rem, 0.06vi + 0.63rem, 0.69rem);
  --fs-sm: clamp(0.72rem, 0.12vi + 0.69rem, 0.83rem);
  --fs-bs: clamp(0.81rem, 0.21vi + 0.77rem, 1rem);
  --fs-md: clamp(0.91rem, 0.32vi + 0.84rem, 1.2rem);
  --fs-lg: clamp(1.03rem, 0.46vi + 0.93rem, 1.44rem);
  --fs-xl: clamp(1.16rem, 0.63vi + 1.01rem, 1.73rem);
  --fs-xxl: clamp(1.3rem, 0.86vi + 1.11rem, 2.07rem);
  --fs-xxxl: clamp(1.46rem, 1.14vi + 1.21rem, 2.49rem);
  --fs-xxxxl: clamp(1.65rem, 1.49vi + 1.31rem, 2.99rem);
*/
  /* 12 до 480px
   --fs-xs: clamp(0.59rem, 0.12vi + 0.56rem, 0.69rem);
  --fs-sm: clamp(0.67rem, 0.2vi + 0.61rem, 0.83rem);
  --fs-bs: clamp(0.75rem, 0.3vi + 0.66rem, 1rem);
  --fs-md: clamp(0.84rem, 0.43vi + 0.71rem, 1.2rem);
  --fs-lg: clamp(0.95rem, 0.59vi + 0.77rem, 1.44rem);
  --fs-xl: clamp(1.07rem, 0.8vi + 0.83rem, 1.73rem);
  --fs-xxl: clamp(1.2rem, 1.06vi + 0.88rem, 2.07rem);
  --fs-xxxl: clamp(1.35rem, 1.38vi + 0.94rem, 2.49rem);
  --fs-xxxxl: clamp(1.52rem, 1.78vi + 0.99rem, 2.99rem);
  /* 12 до 360px
  --fs-xs: clamp(0.59rem, 0.11vi + 0.57rem, 0.69rem);
  --fs-sm: clamp(0.67rem, 0.19vi + 0.63rem, 0.83rem);
  --fs-bs: clamp(0.75rem, 0.28vi + 0.69rem, 1rem);
  --fs-md: clamp(0.84rem, 0.4vi + 0.75rem, 1.2rem);
  --fs-lg: clamp(0.95rem, 0.55vi + 0.83rem, 1.44rem);
  --fs-xl: clamp(1.07rem, 0.73vi + 0.9rem, 1.73rem);
  --fs-xxl: clamp(1.2rem, 0.97vi + 0.98rem, 2.07rem);
  --fs-xxxl: clamp(1.35rem, 1.26vi + 1.07rem, 2.49rem);
  --fs-xxxxl: clamp(1.52rem, 1.63vi + 1.15rem, 2.99rem);
  /* правильные
  --fs-xs: clamp(0.59rem, 0.17vi + 0.54rem, 0.69rem);
  --fs-sm: clamp(0.67rem, 0.28vi + 0.58rem, 0.83rem);
  --fs-bs: clamp(0.75rem, 0.42vi + 0.63rem, 1rem);
  --fs-md: clamp(0.84rem, 0.59vi + 0.67rem, 1.2rem);
  --fs-lg: clamp(0.95rem, 0.82vi + 0.7rem, 1.44rem);
  --fs-xl: clamp(1.07rem, 1.1vi + 0.74rem, 1.73rem);
  --fs-xxl: clamp(1.2rem, 1.45vi + 0.77rem, 2.07rem);
  --fs-xxxl: clamp(1.35rem, 1.89vi + 0.78rem, 2.49rem);
  --fs-xxxxl: clamp(1.52rem, 2.44vi + 0.79rem, 2.99rem);
*/
  /*https://www.fluid-type-scale.com/calculate?minFontSize=12&minWidth=480&minRatio=1.125&maxFontSize=16&maxWidth=1800&maxRatio=1.2&steps=xs%2Csm%2Cbs%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl%2Cxxxxl&baseStep=bs&prefix=fs&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1920
  */
  /* те что были 
  --fs-xs: clamp(0.59rem, 0.12vw + 0.56rem, 0.69rem);
  --fs-sm: clamp(0.67rem, 0.2vw + 0.61rem, 0.83rem);
  --fs-bs: clamp(0.75rem, 0.3vw + 0.66rem, 1rem);
  --fs-md: clamp(0.84rem, 0.43vw + 0.71rem, 1.2rem);
  --fs-lg: clamp(0.95rem, 0.59vw + 0.77rem, 1.44rem);
  --fs-xl: clamp(1.07rem, 0.8vw + 0.83rem, 1.73rem);
  --fs-xxl: clamp(1.2rem, 1.06vw + 0.88rem, 2.07rem);
  --fs-xxxl: clamp(1.35rem, 1.38vw + 0.94rem, 2.49rem);
  --fs-xxxxl: clamp(1.52rem, 1.78vw + 0.99rem, 2.99rem);
*/
  /*посденяя нормальная
  --fs-sm: clamp(0.6rem, 0.27vw + 0.52rem, 0.84rem);
  --fs-bs: clamp(0.75rem, 0.42vw + 0.63rem, 1.13rem);
  --fs-md: clamp(0.94rem, 0.62vw + 0.75rem, 1.5rem);
  --fs-lg: clamp(1.17rem, 0.92vw + 0.9rem, 2rem);
  --fs-xl: clamp(1.46rem, 1.33vw + 1.06rem, 2.66rem);
  --fs-xxl: clamp(1.83rem, 1.91vw + 1.26rem, 3.55rem);
  /* last used
  --fs-sm: clamp(0.5rem, 0.27vw + 0.42rem, 0.75rem);
  --fs-bs: clamp(0.63rem, 0.41vw + 0.51rem, 1rem);
  --fs-md: clamp(0.78rem, 0.6vw + 0.61rem, 1.33rem);
  --fs-lg: clamp(0.98rem, 0.88vw + 0.72rem, 1.78rem);
  --fs-xl: clamp(1.22rem, 1.26vw + 0.86rem, 2.37rem);
  --fs-xxl: clamp(1.53rem, 1.79vw + 1.01rem, 3.16rem);

  /*
   --fs-sm: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
clamp(0.5rem, 0.5rem + 2.5vw, 0.875rem)
  --fs-bs: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  --fs-md: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  --fs-lg: clamp(1rem, 0.5rem + 1.5vw, 2rem);
  --fs-xl: clamp(1.5rem, 0.5rem + 2.5vw, 2.25rem);
  --fs-xxl: clamp(1.5rem, 0.5rem + 2.5vw, 3rem)*/

  /*https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/
  --fs-sm: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-bs: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-md: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-lg: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-xl: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-xxl: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
*/

  /*--fs-sm: clamp(0.6rem, 0.27vw + 0.52rem, 0.84rem);
  --fs-bs: clamp(0.75rem, 0.42vw + 0.63rem, 1.13rem);
  --fs-md: clamp(0.94rem, 0.62vw + 0.75rem, 1.5rem);
  --fs-lg: clamp(1.17rem, 0.92vw + 0.9rem, 2rem);
  --fs-xl: clamp(1.46rem, 1.33vw + 1.06rem, 2.66rem);
  --fs-xxl: clamp(1.83rem, 1.91vw + 1.26rem, 3.55rem);
  --fs-xxxl: clamp(2.29rem, 2.72vw + 1.47rem, 4.73rem);
*/
  --lh-zero: 1;
  --lh-text-xs: 1.333;
  --lh-text-sm: 1.43;
  --lh-text-bs: 1.5;
  --lh-text-lg: 1.555;

  --lh-title-xs: 1.2;
  --lh-title-sm: 1.222;
  --lh-title-bs: 1.25;
  --lh-title-lg: 1.266;

  --content-width: 1440px;
  --section-title-margin: 5vh;
  --section-margin-sm: 10vh;
  --section-margin-bs: 20vh;
  --round-size: clamp(32px, 2.5vw, 40px);
  --slide-width: clamp(200px, 15vw, 290px);
  --slide-height: calc(var(--slide-width) / (2 / 3));
  --active-slide-width: clamp(250px, 18.75vw, 360px);
  --active-slide-height: calc(var(--active-slide-width) / (2 / 3));

  --animation-time: 1.8s;
}
/*Загрузка вариативных шрифтов 
  
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide
  https://htmlacademy.ru/blog/html/fonts-loading?ysclid=lpwd5pxucm72828863
  
  */
