/*todo 

min-content - выставляет размер в зависимости от размера изображения
    grid-template-columns: repeat(10, min-content);
    grid-template-rows: repeat(10, min-content);

todo: ограничивать размером изображений и размером колонок в fr или %
todo: добавить grid-auto-rows: min-content; чтобы залетали новые ячейки
todo: data атрибуты может в них закладывать или названиями классов
todo: определять span с помощью ::nth-child по какому-то паттерну, чтобы не пришлось каждому эл-ту задавать  
    можно ли ставить просто span для любого элемента добавлять классом или атрибутом
*/

.works {
  grid-column: 1 / span 4;
  margin-block-end: var(--section-margin-bs);
}
.works__list {
  display: grid;
  width: 100vw;
  aspect-ratio: 32/14;
  /* grid-template-columns: repeat(32, 3.125%);
    grid-template-rows: repeat(14, 3.125vw);
    grid-template-columns: repeat(
    32,
    calc((100% - 372px) / 32)
  ); /*todo завести переменную (деление таблицы)?
  grid-template-rows: repeat(14, calc((100vw - 156px) / 32));*/

  /*todo поравить значение, неправильные пропорции*/
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-auto-flow: dense;
  gap: /*0.8vw*/ 12px;
}

img[class*="_border"] {
  /*img добавлен чтобы не задваивать обводки в галерее, т.к. у picture такой же класс*/
  border: 1px solid grey;
}

[class*="_cols_2"] {
  grid-column-end: span 2;
}

[class*="_cols_3"] {
  grid-column-end: span 3;
}
[class*="_cols_4"] {
  grid-column-end: span 4;
}
[class*="_cols_5"] {
  grid-column-end: span 5;
}
[class*="_cols_6"] {
  grid-column-end: span 6;
}
[class*="_cols_9"] {
  grid-column-end: span 9;
}
[class*="_rows_3"] {
  grid-row-end: span 3;
}
[class*="_rows_4"] {
  grid-row-end: span 4;
}
[class*="_rows_5"] {
  grid-row-end: span 5;
}
[class*="_rows_6"] {
  grid-row-end: span 6;
}

[class*="_rows_7"] {
  grid-row-end: span 7;
}

.works__item:nth-child(9) {
  grid-column-start: 1;
}

.works__item:nth-child(21) {
  grid-column-start: 16;
  grid-row-start: 11;
}

.works__item:nth-child(23) {
  grid-column-start: 24;
  grid-row-start: 9;
}
.works__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*border-radius: /*0.782vw*/ /*15px;*/
  clip-path: inset(0 round 15px);
}
