.advantages {
  grid-column: 2 / span 2;
  margin-block: var(--section-margin);
}

.advantages__list {
  /* display: grid;
  grid-auto-flow: column; /*todo почему без него выстраивается в стобик, для исправление width 100% на section*/
  /* grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
  gap: 35px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}

.advantages__item {
  display: flex;
  flex-basis: 317px; /*176px*/
  flex-direction: column;
  text-align: center;
}

.advantages__advantage-title::before {
  content: "";
  display: block;
  width: 80px;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-block-end: 4px;
}

.advantages__item:nth-child(1) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#volcano");
}

.advantages__item:nth-child(2) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#rocket");
}

.advantages__item:nth-child(3) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#canvas");
}

.advantages__item:nth-child(4) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#sizes");
}

.advantages__item:nth-child(5) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#russia");
}

.advantages__item:nth-child(6) .advantages__advantage-title::before {
  background: url("../assets/icons.svg#guarantee");
}

.advantages__advantage-title {
  font-size: var(--fs-md) /*clamp(0.75rem, 0.5rem + 2.5vw, 1rem)*/;
  font-weight: 700;
  line-height: 125%;
  margin-block: 0 4px;
}

.advantages__advantage-description {
  font-size: var(--fs-bs) /*clamp(0.5rem, 0.5rem + 2.5vw, 0.875rem)*/;
  font-weight: 400;
  line-height: 143%;
  margin-block: 4px 0;
}
