.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-light);
  margin-block-end: 24px;
}

.page-header__nav-list,
.page-header__contacts-list,
.page-header__contacts-list-item,
.page-header__contacts-list-item-wrap {
  display: flex;
}

page-header__contacts-list,
.page-header__contacts-list-item {
  align-items: center;
}

.page-header__nav-list,
.page-header__contacts-list {
  gap: 24px;
}

.page-header__nav-link {
  transition: color 0.3s ease;
}

.page-header__nav-link:hover {
  color: var(--secondary-light);
}

.page-header__nav-list {
  font-size: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  font-weight: 700;
}

.page-header__contacts-list {
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
  font-weight: 500;
}

.page-header__contacts-list-item {
  gap: 8px;
  transition: color 0.3s ease;
}

.page-header__contacts-list-item:first-child:hover,
.page-header__contacts-list-item:last-child:hover {
  color: var(--secondary-light);
}

.page-header__contacts-list-item-wrap {
  flex-direction: column;

  /*  todo для лого в псевдоэлементе задать current color - он ссылается на цвет контейнера
   также для псевдо элемента  общие правила для позиционирования и отдельно каждому элементу картинку*/
}
.page-header__contacts-list-item::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: currentColor;
}

.page-header__contacts-list-item:first-child::before {
  mask: url(../assets/icons.svg#phone);
  -webkit-mask: url(../assets/icons.svg#phone);
}

.page-header__contacts-list-item:nth-child(2)::before {
  mask: url(../assets/icons.svg#clock-med);
  -webkit-mask: url(../assets/icons.svg#clock-med);
}

.page-header__contacts-list-item:last-child::before {
  width: 22px;
  mask: url(../assets/icons.svg#location);
  -webkit-mask: url(../assets/icons.svg#location);
}

.page-header__contacts-list-text {
  margin-block: 0;
}

.page-header__contacts-list-text:last-child {
  max-width: 180px;
  font-style: normal;
}

.page-header__burger-menu {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.page-header__burger-menu:hover {
  cursor: pointer;
}

.page-header__burger-menu::before,
.page-header__burger-menu-icon,
.page-header__burger-menu::after {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-light);
  transition: all 1s ease;
}

.page-header__burger-menu::before {
  position: absolute;
  content: "";
  top: 0;
}

.page-header__burger-menu::after {
  position: absolute;
  content: "";
  bottom: 0;
}

.page-header__burger-menu:active .page-header__burger-menu-icon {
  opacity: 0;
}

.page-header__burger-menu:active::before {
  top: 41%;
  transform: rotate(45deg);
}

.page-header__burger-menu:active::after {
  bottom: 41%;
  transform: rotate(-45deg);
}
