@media (max-width: 1482px) {
  .hero {
    gap: clamp(10px, calc(68vw - 745px), 282px);
  }
  .promo {
    gap: clamp(8px, 1.5vw, 24px);
  }
  .steps__list {
    grid-template-rows: repeat(5, clamp(310px, calc(10.5vw + 191px), 342px));
  }
}
@media (max-width: 1300px) {
  .steps__list {
    /*grid-template-rows: repeat(5, 592px);*/
    grid-template-rows: repeat(5, clamp(440px, calc(38.7vw + 90px), 592px));
  }
  .steps__list > .steps__item {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 25px;
  }

  .steps__item .marker {
    order: 1;
  }
  .steps__list > .steps__item > .steps__text-group {
    width: 100%;
  }
  .services-list {
    height: auto;
    width: 80%;
  }

  .steps__item .steps__img-group {
    width: 40%;
  }

  .steps__item:nth-child(1) .steps__img-group {
    width: 42.5%;
    height: 54%;
  }
  .steps__item:nth-child(3) {
    gap: 38px;
  }
  .steps__item:nth-child(4) .steps__img-group {
    width: 62.5%;
  }
  .steps__item:nth-child(5) .steps__img-group {
    width: 58.5%;
  }
  .steps__receipt-list {
    margin-inline-start: 40%;
  }
}

@media (max-width: 1200px) {
  .page-header__burger-menu {
    display: block;
  }
  /* обрнуть nav и ul в div.header__menu чтобы проше было их на мобильном вместе позиционировать 
  сначала просто nav вырываем fixed, потом весь div fixed, 
  класс burger-menu с fixed и стилями применять сначала к nav потом к всему div?
  (все по левому краю, между ссылками и nav отступ, который их разделяет
*/

  .page-header__nav {
    position: fixed;
    top: 124px;
    right: 0;
    background-color: var(--white);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  ul.page-header__nav-list {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  /*ul.page-header__contacts-list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: bisque;
    padding: 1em;
    flex-direction: column-reverse;
  }
*/
  .contacts {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__map::after {
    left: 44.97%;
  }
}

@media (max-width: 650px) {
  .page-header__contacts-list {
    display: none;
    /*todo перенести в мобильную версию*/
  }
}
