:root {
  --white: #fff;
  --black: #344054;
  --grey: #85888e;
  --primary: linear-gradient(180deg, #941b81 0%, #801f82 45.83%, #672383 100%);
  --primary-light: #b24fa3;
  --primary-alpha: rgba(121, 32, 130, 0.7);
  --secondary: linear-gradient(
    180deg,
    #e5007b 0%,
    #de0568 48.96%,
    #d70a55 100%
  );
  --secondary-light: #ef77b2;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /*
   --fs-sm: clamp(0.5rem, 0.5rem + 2.5vw, 0.75rem);
clamp(0.5rem, 0.5rem + 2.5vw, 0.875rem)
  --fs-bs: clamp(0.75rem, 0.5rem + 2.5vw, 1rem);
  --fs-md: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  --fs-lg: clamp(1rem, 0.5rem + 1.5vw, 2rem);
  --fs-xl: clamp(1.5rem, 0.5rem + 2.5vw, 2.25rem);
  --fs-xxl: clamp(1.5rem, 0.5rem + 2.5vw, 3rem)*/

  /*https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/
  --fs-sm: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-bs: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-md: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-lg: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-xl: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-xxl: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
*/
  /* todo 
    sm - слишком маленький
    advantages title и description одного размера (нужен промежуточный?)
    md большеват для nav 
  */
  /* last used*/
  --fs-sm: clamp(0.5rem, 0.27vw + 0.42rem, 0.75rem);
  --fs-bs: clamp(0.63rem, 0.41vw + 0.51rem, 1rem);
  --fs-md: clamp(0.78rem, 0.6vw + 0.61rem, 1.33rem);
  --fs-lg: clamp(0.98rem, 0.88vw + 0.72rem, 1.78rem);
  --fs-xl: clamp(1.22rem, 1.26vw + 0.86rem, 2.37rem);
  --fs-xxl: clamp(1.53rem, 1.79vw + 1.01rem, 3.16rem);

  /*--fs-sm: clamp(0.6rem, 0.27vw + 0.52rem, 0.84rem);
  --fs-bs: clamp(0.75rem, 0.42vw + 0.63rem, 1.13rem);
  --fs-md: clamp(0.94rem, 0.62vw + 0.75rem, 1.5rem);
  --fs-lg: clamp(1.17rem, 0.92vw + 0.9rem, 2rem);
  --fs-xl: clamp(1.46rem, 1.33vw + 1.06rem, 2.66rem);
  --fs-xxl: clamp(1.83rem, 1.91vw + 1.26rem, 3.55rem);
  --fs-xxxl: clamp(2.29rem, 2.72vw + 1.47rem, 4.73rem);
*/
  --lh-sm: 1.25;
  --lh-md: clamp(1.125rem, 0.338vw + 1.057rem, 1.463rem);
  --lh-lg: 1.75;
  --lh-xl: 2;
  --lh-xxl: 2.25;
  --lh-xxxl: 2.5;

  --section-margin: 10vh;
  --content-width: 1440px;
  --slide-width: clamp(200px, 15vw, 300px);
  --slide-height: calc(var(--slide-width) / (2 / 3));
  --active-slide-width: clamp(250px, 18vw, 350px);
  --active-slide-height: calc(var(--active-slide-width) / (2 / 3));
}
/*Загрузка вариативных шрифтов 
  
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide
  https://htmlacademy.ru/blog/html/fonts-loading?ysclid=lpwd5pxucm72828863
  
  */
